@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300);

body {
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-size: 40px;		
}

p {
	font-size: 14px;
	font-weight: 300;
}

header {
	position: absolute;
	left: 0px;
	right: 0px;

	&.affix {
		left: 0px;
		right: 0px;
		z-index: 9999;
	}
}

.wrap {
	margin-bottom: 50px;
	padding-top: 52px;
}

.inner-container {
	padding-top: 20px;
	margin: 0 auto;
	max-width: 1170px;
}

.navbar {
	margin-bottom: 0px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

#upload-image-container {
	position: relative;
	display: inline-block;

	img {
		width: 100px;
		height: 100px;
		margin-bottom: 15px;
	}

	a {
		position: absolute;
		right: 5px;
		top: 5px;
		color: #fff;
		background-color: #737373;
		border-radius: 10px;
		width: 20px;
		height: 20px;
		text-align: center;

		&:hover {
			text-decoration: none;
		}
	}
}

.carousel-inner img {
	width: 100%;
}

.testimonail-container {
	@include background(image-url("testimonial-background.jpg") no-repeat top center / 100%);
	padding: 35px 0px;

	h2 {
		color: #fff;
	}

	p {
		color: #fff;
		font-size: 17px;
	}

	#testimonail-carousel {
		padding: 100px 0 20px 0;

		.carousel-caption {
			position: relative;
			left: auto;
			right: auto;
			top: 0px;
			bottom: 0px;

			img {
				max-width: 55px;
				margin-right: 10px;
			}

			.author {
				border-top: solid 1px #ccc;
				padding-top: 15px;
				margin-top: 15px;
			}
		}

		.carousel-indicators {
			bottom: 0px;
		}
	}
}

.blogs-container {
	img {
		max-width: 345px;
	}
}