<div class="search-container clearfix">
	<div class="form-group">
		<input type="text" value="" placeholder="Search Project" class="form-control">
	</div>
	<a href="#projects/add" class="btn btn-success"><i class="fa fa-plus"></i> <span>New Project</span></a>
</div>

<div class="projects-container table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th width="50%">Project Name</th>
				<th>Last Edit Date</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td data-label="Project" class="clearfix">
					<img src="img/toyota_logo.png" alt="" class="project-logo">
					<p>Toyota Customer Portal</p>
				</td>
				<td data-label="Last Edit Date">Jul 24, 2015</td>
				<td data-label="Actions">
					<a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a>
					<a href="#"><i class="fa fa-trash-o"></i> Delete</a>
				</td>
			</tr>

			<tr>
				<td data-label="Project" class="clearfix">
					<img src="img/toyota_logo.png" alt="" class="project-logo">
					<p>Toyota Customer Portal</p>
				</td>
				<td data-label="Last Edit Date">Jul 24, 2015</td>
				<td data-label="Actions">
					<a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a>
					<a href="#"><i class="fa fa-trash-o"></i> Delete</a>
				</td>
			</tr>

			<tr>
				<td data-label="Project" class="clearfix">
					<img src="img/toyota_logo.png" alt="" class="project-logo">
					<p>Toyota Customer Portal</p>
				</td>
				<td data-label="Last Edit Date">Jul 24, 2015</td>
				<td data-label="Actions">
					<a href="#"><i class="fa fa-pencil-square-o"></i> Edit</a>
					<a href="#"><i class="fa fa-trash-o"></i> Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>