<h2>Add Banner</h2> <br>

<form id="addBanner" enctype="multipart/form-data">
	<fieldset>
		<div class="form-group">
			<label>Image</label>
			<input name="filename" type="file" id="filename" class="form-control">
			<p class="help-block"></p>
		</div>

		<div class="form-group">
			<label>Title</label>
			<input name="title" type="text" id="title" class="form-control">
			<p class="help-block"></p>
		</div>

		<div class="form-group">
			<label>Description</label>
			<textarea name="description" id="description" class="form-control"></textarea>
			<p class="help-block"></p>
		</div>
		<script type="text/javascript">
			CKEDITOR.replace( 'description', {
				toolbar: [
					{ name: 'document', items : [ 'Source','NewPage','Preview' ] },
		            { name: 'basicstyles', items : [ 'Bold','Italic','Underline','Strike','-','RemoveFormat' ] },
		            { name: 'clipboard', items : [ 'Cut','Copy','Paste','PasteText','PasteFromWord','-','Undo','Redo' ] },
		            { name: 'editing', items : [ 'Find','Replace','-','SelectAll','-','Scayt' ] },
		            '/',
		            { name: 'styles', items : [ 'Styles','Format' ] },
		            { name: 'paragraph', items : [ 'NumberedList','BulletedList','-','Outdent','Indent','-','Blockquote' ] },
		            { name: 'insert', items :[ 'Image','Flash','Table','HorizontalRule','Smiley','SpecialChar','PageBreak','Iframe' ] },
		            { name: 'links', items : [ 'Link','Unlink','Anchor' ] },
		            { name: 'tools', items : [ 'Maximize','-','About' ] }
				],
				removeButtons: ''
			});
		</script>

		<div class="form-group">
			<label>Url</label>
			<input name="url" type="text" id="url" class="form-control">
			<p class="help-block"></p>
		</div>

		<div class="submit">
			<button type="button" class="btn btn-success" id="submitBanner">Submit</button>
		</div>
	</fieldset>
</form>