<h2>Add Banner</h2> <br>

<form id="addBanner" enctype="multipart/form-data">
	<fieldset>
		<div class="form-group">
			<label>Image</label>
			<input name="filename" type="file" id="filename" class="form-control">
			<p class="help-block"></p>
		</div>

		<div class="form-group">
			<label>Url</label>
			<input name="url" type="text" id="url" class="form-control">
			<p class="help-block"></p>
		</div>

		<div class="submit">
			<button type="button" class="btn btn-success" id="submitBanner">Submit</button>
		</div>
	</fieldset>
</form>