<h2>Add Menu</h2> <br>

<form id="addMenu">
	<fieldset>
		<div class="form-group">
			<label>Parent</label>
			<select name="parent_id" id="parent_id" class="form-control">
				<option value="" selected="selected">Select Parent</option>
				<% _.each(parents, function(value, key) { %>
				    <option value="<%= key %>"><%= value %></option>
				<% }); %>
			</select>
			<p class="help-block"></p>
		</div>

		<div class="form-group">
			<label>Title</label>
			<input name="title" type="text" id="title" class="form-control">
			<p class="help-block"></p>
		</div>

		<div class="form-group">
			<label>Controller</label>
			<input name="controller" type="text" id="controller" class="form-control">
			<p class="help-block"></p>
		</div>

		<div class="form-group">
			<label>Action</label>
			<input name="action" type="text" id="action" class="form-control">
			<p class="help-block"></p>
		</div>

		<div class="submit">
			<button type="button" class="btn btn-success" id="submitBanner">Submit</button>
		</div>
	</fieldset>
</form>