<h2>Blog</h2> <br>

<form id="addBlog">
	<fieldset>
		<div class="form-group">
			<label>Title</label>
			<input name="title" type="text" id="title" class="form-control" value="<%= title %>">
			<p class="help-block"></p>
		</div>

		<div class="form-group">
			<label>Description</label>
			<textarea name="description" id="description" class="form-control"><%= description %></textarea>
			<p class="help-block"></p>
		</div>

		<div class="form-group" id="imageContainer">
			<label>Image</label>
		</div>

		<div class="submit">
			<button type="button" class="btn btn-success" id="submitBlog">Submit</button>
		</div>
	</fieldset>
</form>